.container{
    display: grid;
    /* grid-template-columns: 300px 200px 100px; */
    /* grid-template-columns: 300px auto 100px; */
    /* grid-template-columns: 1fr 4fr 1fr; */
    grid-template-columns: repeat(6, auto);
    grid-gap: 2rem;
}

.item{
    /* height: 100px;
    width: 100px; */
    background-color: antiquewhite;
    border: 2px solid burlywood;
    padding: 15px 6px;
}
