/* Navigation */
#navbar{
    flex-direction: column;
}

/* Home */
#home{
    height: 100px;
}

#home::before{
    height: 100px;
}

/* Services */
#services{
    flex-direction: column;
}

#services.box{

}

/* Clients */


/* Contact Us */


/* Footer */

