/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 64px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    /* position: absolute; */
    /* making it absolute will make the navbar transparent according to the background image */
    font-family: 'Roboto Condensed', sans-serif;
    top: 0px;
}

#navbar::before{
    content: " ";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1; /* It will send our content on forescreen and send background to backscreen */
    opacity: 1;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 6px 18px;
}

#logo img{
    height: 84px;
    margin: 0px 0px;
}

/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
}

#navbar ul li{
    /* color: antiquewhite; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    /* We did display block(by default it's inline) as we are going to give padding */
    padding: 3px 22px;
    border-radius: 4px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
.home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.home::before{
    content: " ";
    background: url('Images/Bkg2.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 380px;
    width: 100%;
    z-index: -1; 
    /* It will send our content on forescreen and send background to backscreen */
    opacity: 0.99;
}

.home h1{
    color: white;
    margin: 60px 0px 0px 0px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.home p{
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
}

.services-container{
    margin: 110px;
}

/* Services Section */
#services{
    margin: 0px;
    display: flex;

}

#services .box{
    border: 2px solid red;
    padding: 36px;
    height: 100%;
    margin: 3px 27px;
    border-radius: 6px;
    background-color: #fff2e2;
}

#services .box img{
    height: 200px;
    display: block;
    margin: auto;
    /* margin auto will when display is block */
}

#services .box p{
    font-family: 'Oswald', sans-serif;
}

/* Client Section */
#client-section{
    margin: 0px;
}

#client-section::before{
    content: " ";
    position: absolute;
    background: url('Images/Bkg5.jpg');
    width: 100%;
    height: 336px;
    z-index: -1;
    opacity: 0.3;
}

#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item{
    margin: 24px 18px;
    padding: 27px;
}

.client-item img{
    height: 100px;
}

/* Contact Section */
#contact{
    position: relative;
}

#contact::before{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.99;
    background: url('Images/Bkg3.jpg') no-repeat center center/cover;
}

#contact-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 360px;
}

#contact-item form{
    width: 36%;
}

#contact-item label{
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
}

#contact-item input, textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    font-size: 1.1rem;
}

footer{
    background: grey;
    color: antiquewhite;
    padding: 9px 18px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Oswald', sans-serif;
    font-size: 3.8rem;
    /* rem is relavtive to root html */
    padding: 12px;
}

.h-secondary{
    font-family: 'Oswald', sans-serif;
    font-size: 2.4rem;
    padding: 12px;
}

.btn{
    padding: 6px 24px;
    border: 2px solid white;
    background-color: #484848;
    border-radius: 4px;
    color: white;
    margin: 18px;
    font-size: 1.5rem;
    cursor: pointer;
}

.center{
    text-align: center;
}
